<app-page-template pageTitle="Get in touch!">
  <div class="hard-center">
    <a href="https://www.linkedin.com/in/c-t-myers/" target="_blank" rel="noopener">
      <img src="assets/icons/linkedin.svg" alt="LinkedIn" class="social-icon"/>
    </a>
    <a href="https://github.com/chessmyers" target="_blank" rel="noopener">
      <img src="assets/icons/github.svg" alt="Github" class="social-icon"/>
    </a>
    <a href="https://www.facebook.com/chess.myers/" target="_blank" rel="noopener">
      <img src="assets/icons/facebook.svg" alt="Facebook" class="social-icon"/>
    </a>
    <a href="https://instagram.com/chessmyers/" target="_blank" rel="noopener">
      <img src="assets/icons/instagram.svg" alt="Instagram" class="social-icon"/>
    </a>
    <a href="mailto:myers.ch@northeastern.edu" >
      <img src="assets/icons/mail.svg" alt="Email" class="social-icon"/>
    </a>
  </div>
  <div class="hard-center">
    <i>myers.ch@northeastern.edu | (626) 437-2523</i>
  </div>
  <div class="attr-text">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

<!--  <div class="columns">-->
<!--    <div class="column">-->

<!--      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">-->
<!--        <div class="p-col-12 p-md-4 margin-10">-->
<!--          <div class="p-inputgroup">-->
<!--            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>-->
<!--            <input type="text" pInputText placeholder="Your name..." formControlName="name" class="fullwidth" required>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="p-col-12 p-md-4 margin-10">-->
<!--          <div class="p-inputgroup">-->
<!--            <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>-->
<!--            <input type="email" pInputText placeholder="Email..." formControlName="email" class="fullwidth" required>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="p-col-12 p-md-4 margin-10">-->
<!--          <div class="p-inputgroup">-->
<!--            <span class="p-inputgroup-addon"><i class="pi pi-pencil"></i></span>-->
<!--            <textarea pInputTextarea [rows]="5" autoResize="autoResize" placeholder="Your message..." formControlName="message" class="fullwidth" required></textarea>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="field is-pulled-right margin-10">-->
<!--          <button pButton type="submit" label="Send" class="submit-button p-button-lg" [disabled]="!contactForm.valid"></button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--    <div class="column">-->
<!--      <div class="hard-center is-3by2">-->
<!--        <img src="assets/picOfMe.JPG" alt="Picture of Me" class="rounded-image"/>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

</app-page-template>
