<app-page-template [pageTitle]="title">
  <div class="columns">
    <div class="column is-two-thirds">
        Thanks for stopping by!
      <br /><br />
        My name is Christopher Myers. I am a student, developer, reader, explorer, (hobbyist) musician, educator, and
          dog lover.
      <br /><br />
        If you've got time, feel free to check out what I've put up on this site.
    </div>
    <div class="column">
      <div class="hard-center is-3by2">
        <img src="assets/boy_swimming.svg" />
      </div>
    </div>
  </div>
</app-page-template>
