<app-page-template [pageTitle]="title" [pageSubtitle]="subtitle">
  <div class="columns">
    <div class="column is-two-thirds">
        My name is Christopher Myers. I am a student, developer, reader, explorer, (hobbyist) musician, educator, and
          dog lover. I am also a third-year student at Northeastern University
      <br /><br />
        If you've got time, feel free to check out what I've put up on this site.
    </div>
    <div class="column">
      <div class="hard-center is-3by2">
        <img src="assets/picOfMe.JPG" class="rounded-image"/>
      </div>
    </div>
  </div>
</app-page-template>
