@import "src/variables.scss";

$link-offset-y: -($menu-link-height / 2);
$link-offset-x: -($menu-link-width / 2);

.menu-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: grid;
  grid-template-columns: 5vw 90vw 5vw;
  grid-template-rows: 8vh 84vh 8vh;
}

.corner {
  box-sizing: border-box;
  z-index: 5;
  border: 20px groove $app-color-secondary;
  background-color: $app-color-primary;
}
