$menu-link-width: 200px;
$menu-link-height: 40px;
$menu-link-color: #fafafa;

$app-color-primary: #176087;
$app-color-secondary: #1D84B5;
$app-color-dark: #0A2239;
$app-color-light: #53A2BE;


$app-main-font: Arial, sans-serif;
